- name: Install JAVA-8
  apt:
    name: openjdk-8-jdk-headless
    update_cache: yes
    state: present

- name: Install MAVEN
  apt:
    name: maven
    update_cache: yes
    state: present

- name: Remove static files
  file:
    path: /home/ubuntu/users
    state: absent


- name: Import Download GIT REPOS
  include_role:
    name: common
    tasks_from: git_repos.yml


- name: Import Systemd Serive from Common role
  include_role:
    name: common
    tasks_from: systemd_files.yml


