[Unit]
Description=login service

[Service]
User=root
Type=simple
Environment=USERS_API_ADDRESS=http://users.sree-cloud-devops.online:8080
Environment=AUTH_API_PORT=8080
ExecStart=/root/login/login
Restart=on-failure
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target























